<div class="text-center">
  <h3>Welcome to Personal Budget</h3>
  <div> {{ (user | async)?.displayName}} </div>
  <h3>Hello {{displayName}}</h3>
  <img src="{{photoURL}}" *ngIf="photoURL" alt="">

  <form class="login-form">
    <mat-input-container class="login-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('pattern')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-input-container>
    <mat-input-container class="login-full-width">
      <input matInput type="password" [formControl]="passwordFormControl" placeholder="Password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-input-container>
    <button mat-button>Login</button>
  </form>
  <p>OR</p>
  <button mat-button (click)="loginFacebook()">Login with Facebook</button><br>
  <button mat-button (click)="loginGoogle()">Login with Google</button><br>
  <button mat-button (click)="logout()">Log out</button><br>
  <button mat-button (click)="register()">Register</button>
</div>
