.account-card{
  float: left;
  min-height: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.accounts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
}
